<html>
<head>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="query-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
    <div class="jumbotron">
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
        <h2>Flight Scheduler</h2>
        <div>Please enter your preferences below.</div>
        <p>
        <form>
            <div class="form-group">
                Travel Date: <input class="form-control" type="date" name="tDate">
            </div>
            <div class="form-group">
                Earliest Departure Time: <input class="form-control" type="time" name="depTime">
            </div>
            <div class="form-group">
                <div class="row">
                <div class="col-md-1">
                <p>From</p>
                </div>
                <div class="col-md-3">
                <select class="form-control" name="origCity">
                    {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                    {% end %}
                </select>
                </div>
                <div class="col-md-1">
                <p>to</p>
                </div>
                <div class="col-md-3">
                <select class="form-control" name="desCity">
                    {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                    {% end %}
                </select>
                </div>
                </div>
            </div>
            <div class="form-group">
                How important are each of these to you? (3 being the most important) 
                <div class="row">
                    <div class="col-md-4">
                        Minimal cost
                        <input class="form-control" type="number" name="prefCost" min="1" max="3">
                    </div>
                    <div class="col-md-4">
                        Minimal time travelling
                        <input class="form-control" type="number" name="prefTime" min="1" max="3">
                    </div>
                    <div class="col-md-4">
                        Maximum Frequent Flyer Points
                        <input class="form-control" type="number" name="prefPoints" min="1" max="3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                How many offers would you like to see?
                <input class="form-control" type="number" name="number">
            </div>
            <br>
            <button class="btn btn-lg btn-default" type="button" onclick="SendQuery()">Submit Query!</button> 
            </div>
        </form>
        </p>
    </div>
    </div>
    </div>
</div>
<!--The response will load here!-->
<div id="response-wrapper">   
</div>
<script type="text/javascript">
function SendQuery() {

    request=new XMLHttpRequest();

    args=$('form').serialize(); //Get form args and set metadata for request

    request.open("GET","query?"+args,false);//Initalise request.


    request.send();//Make request. Blocking function

    response=request.responseText;
    document.getElementById("response-wrapper").innerHTML = response;
}
</script>
<div>
    <footer class="footer">
          <div class="container">
            <p class="text-muted">SENG2011 Project - Group 6</p>
          </div>
    </footer>
</div>
</body>
</html>
