<html>
<head>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="static/main.css">
<link rel="icon" type="image/png" href="static/logo.png" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
$(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
        });
</script>
</head>
<body>
<div id="query-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="color:lightblue">
        <div class="container">
            <div class="navbar-header">
                <div class="col-md-3">
                    <img style="max-width:100%"src="static/logo.png">
                </div>
                <div class="col-md-7">
                    <a class="navbar-brand" style="color:white" href="/">WeBookU</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <div><br>Please enter your preferences below.</div>
                <p>
                <form>
                    <div class="form-group">
                        Travel Date: <input class="form-control" type="date" name="tDate" value="2000-01-01">
                    </div>
                    <div class="form-group">
                        Earliest Departure Time: <input class="form-control" type="time" name="depTime" value="00:00">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1">
                                <p>From</p>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="origCity">
                                    {% for city in cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                    {% end %}
                                </select>
                            </div>
                            <div class="col-md-1">
                                <p>to</p>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" name="desCity">
                                    {% for city in cities %}
                                    <option value="{{ city }}">{{ city }}</option>
                                    {% end %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        How important are each of these to you? Please click and drag your preferences below:
                        <div class="row">
                            <div class="col-md-6">
                                <ul id="sortable">
                                    <li class="sort" id="Cost"><img style="max-width:7%" src="static/drag.png">Minimal cost</li>
                                    <li class="sort" id="Time"><img style="max-width:7%" src="static/drag.png">Minimal time travelling</li>
                                    <li class="sort" id="ffp"><img style="max-width:7%" src="static/drag.png">Maximum Frequent Flyer Points</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        Which airline would you like to collect points for?
                        <select class="form-control" name="ffpAirline">
                            {% for line in airlines %}
                            <option value="{{ line }}">{{ line }}</option>
                            {% end %}
                        </select>
                        <br>
                        <div class="form-group">
                            How many offers would you like to see?
                            <input class="form-control" type="number" name="number" value="1" min="0">
                        </div>
                        <br>
                        <button class="btn btn-lg btn-default" type="button" onclick="SendQuery()">Submit Query!</button>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
<!--The response will load here!-->
<div id="response-wrapper" class="response">
</div>
<script type="text/javascript">
function SendQuery() {
    request=new XMLHttpRequest();
    args=$('form').serialize(); //Get form args and set metadata for request
    args += "&prefs="+$("#sortable").sortable("toArray").toString();
    request.open("GET","query?"+args,false);//Initalise request.

    request.send();//Make request. Blocking function

    response=request.responseText;
    el = $("#response-wrapper");
    el.html(response);
    el.show();
    $('html, body').animate({ scrollTop: el.offset().top }, 1500);
}
$( document ).ready(function() {
        el = $("#response-wrapper");
        el.hide();
        })
</script>
<div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">SENG2011 Project - Group 6</p>
        </div>
    </footer>
</div>
</body>
</html>
