<html>
<body>
    <h2>Flight Scheduler</h2>
    <div>Please enter your preferences below.</div>
    <p>
    <form method="POST">
        Travel Date: <input type="date" name="tDate">
        Earliest Departure Time: <input type="time" name="depTime"><br>
        From
        <select name="origCity">
            {% for city in cities %}
                <option value={[city]}>{{ city }}</option>
            {% end %}
        </select>
        to
        <select name="desCity">
            {% for city in cities %}
                <option value={[city]}>{{ city }}</option>
            {% end %}
        </select><br>
        <p>
            How important are each of these to you? (3 being the most important) <br>
            Minimal cost 
            <input type="range" name="prefCost" min="1" max="3"> <br>
            Minimal time travelling
            <input type="range" name="prefTime" min="1" max="3"> <br>
            Maximum Frequent Flyer Points
            <input type="range" name="prefPoints" min="1" max="3"> <br>
        </p>
        I would like to see <input type="number" name="n"> offers<br>
        <p> <input type="submit" value="Submit"> </p>
    </form>
    </p>
    </body>
</html>

