<div>
    <br>
    <table>
        {% for v in var %}
        <tr><td> {{ v }}</td></tr>
        {% end %}
    </table>
</div>
<div class="row">
<div class="col-md-3 col-md-offset-1">
<h3>Flights Found</h3>
</div>
</div>
<div class="row">
	<div class="col-md-9 col-md-offset-1">
	<div>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>#</th>
				<th>Departure Time</th>
				<th>Arrival Time</th>
				<th>Stopovers</th>
				<th>Airline</th>
				<th>Total Cost</th>
				<th>Travel Time</th>
				<th>Frequent Flyer Points</th>
			</tr>
			</thead>
		</table>
	</div>
	</div>
</div>
